@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background-color: #0b1020;
  color: #e2e8f0;
}

#root {
  min-height: 100svh;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.8;
  }
}